<div class="pattern-image-wrapper">
  <img src={{image}} alt={{name}} class="pattern-image" />
</div>
<div class="pattern-footer">
  <div class="top-line text-subheading inverted">
    {{name}}
  </div>
  <div class="bottom-line text-caption inverted">
    by {{author}}
  </div>
</div>
